---
import MainLayout from "../../layout/main-layout.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Organic Store</title>
	</head>
	<body>
		<MainLayout>
			<div class="h-[570px] truncate">
				<img src="/organic-store/banner.png" alt="" class="w-full">
			</div>
      <div class="px-[12rem] py-10 flex justify-between">
				<div class="flex flex-col">	
					<div class="font-bold text-[1.5rem]">Products by</div>
					<div class="flex items-center gap-6">
						<img src="/organic-store/productsBy1.png" alt=""  class="h-[100px]">
						<img src="/organic-store/productsBy2.png" alt=""  class="h-[85px]">
						<img src="/organic-store/productsBy3.png" alt=""  class="h-[90px]">
					</div>
				</div>
				<div class="flex flex-col">	
					<div class="font-bold text-[1.5rem]">Certified by</div>
					<div class="flex items-center gap-6 mt-4">
						<img src="/organic-store/certifiedBy1.png" alt="" class="h-[60px]">
						<img src="/organic-store/certifiedBy2.png" alt="" class="h-[60px]">
					</div>
				</div>
      </div>
			<div class="grid grid-cols-2 gap-[2px] mx-[12rem] my-10 overflow-hidden grid-rows-[repeat(2,250px)] rounded-md truncate">
				<div class="row-span-2 h-full w-full truncate">
					<img src="/organic-store/store1.png" alt="">
				</div>
				<div class="row-span-1 h-full w-full truncate flex items-center">
					<img src="/organic-store/store2.png" alt="">
				</div>
				<div class="row-span-1 h-full w-full truncate flex items-center">
					<img src="/organic-store/store3.png" alt="">
				</div>
			</div>
			<div class="flex gap-[2px] mx-[12rem] my-10">
				<a href="/organic-store/vegetables" class="flex flex-col gap-2 grow basis-0 [&:hover>div:nth-child(1)>img]:scale-110">
					<div class="truncate h-[300px] rounded-md">
						<img src="/organic-store/vegetables.png" alt="" class="transition duration-200">
					</div>
					<div class="text-sm font-medium text-center">Organic Fruits and Vegetables</div>
				</a>
				<a href="/organic-store/products" class="flex flex-col gap-2 grow basis-0 [&:hover>div:nth-child(1)>img]:scale-110">
					<div class="truncate h-[300px] rounded-md flex items-center justify-center">
						<img src="/organic-store/products.png" alt="" class="transition duration-200">
					</div>
					<div class="text-sm font-medium text-center">Organic Products</div>
				</a>
			</div>
			<div class="flex flex-col justify-between mx-[12rem] my-10 gap-8 bg-[#F9F9F9] p-8 rounded-md">
				<div class="text-xl text-center font-medium">Find us at</div>
				<div class="flex gap-6">
					<div class="flex flex-col gap-6 grow basis-0">
						<div class="flex gap-4">
							<img src="/organic-store/address.svg" alt="" class="h-[30px]">
							<div>
								Saldanha Kieran Apartments - II, Near Mapusa Court Junction, Opposite Sangeeta Mobile, Next to Union Restaurant, Mapusa, Goa 403507
							</div>
						</div>
						<div class="flex gap-4">
							<img src="/organic-store/address.svg" alt="" class="h-[30px]">
							<div>+91 89566 91426/7</div>
						</div>
						<div class="flex gap-4 items-start">
							<img src="/organic-store/instagram.svg" alt="" class="h-[30px]">
							<a href="https://www.instagram.com/nims.organichub/" target="_blank">
								<img src="/organic-store/instaHandle.png" alt="">
							</a>
						</div>
					</div>
					<div class="grow basis-0">
						<img src="/organic-store/map.png" alt="" class="h-full">
					</div>
			</div>
			</div>
    </MainLayout>
  </body>
</html>