---
import LineBreaker from "../../components/lineBreaker.astro";
import BannerLayout from "../../layout/bannerLayout.astro";
import MainLayout from "../../layout/mainLayout.astro";
import SectionLayout from "../../layout/sectionLayout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>NIMS Organic Store</title>
  </head>
  <body>
    <MainLayout>
      <BannerLayout imageSrc="/organic-store/banner.jpg" />
      <SectionLayout
        containerClass="flex justify-start self-center gap-x-[8rem] flex-wrap"
      >
        <div class="flex flex-col">
          <div class="font-bold text-[1.2rem]">Products by</div>
          <div class="flex items-center justify-center gap-6 flex-wrap">
            <img
              src="/organic-store/productsBy1.webp"
              alt=""
              class="h-[70px]"
            />
            <img
              src="/organic-store/productsBy2.webp"
              alt=""
              class="h-[70px]"
            />
            <img
              src="/organic-store/productsBy3.webp"
              alt=""
              class="h-[65px]"
            />
          </div>
        </div>
        <div class="flex flex-col">
          <div class="font-bold text-[1.2rem]">Certified by</div>
          <div class="flex items-center justify-center gap-6 mt-4 flex-wrap">
            <img
              src="/organic-store/certifiedBy1.webp"
              alt=""
              class="h-[50px]"
            />
            <img
              src="/organic-store/certifiedBy2.webp"
              alt=""
              class="h-[50px]"
            />
          </div>
        </div>
      </SectionLayout>
      <SectionLayout
        containerClass="bg-[#EFEFEF] flex justify-center items-center py-8 px-4"
      >
        <div
          class="grid grid-cols-[repeat(2,500px)] gap-[2px] grid-rows-[repeat(2,230px)] rounded-md truncate gap-[2px] max-[1050px]:flex max-[1050px]:flex-col"
        >
          <div
            class="row-span-2 truncate max-[1050px]:max-h-[350px] max-[1050px]:flex max-[1050px]:justify-center max-[1050px]:items-center max-[1050px]:max-w-[600px]"
          >
            <img
              src="/organic-store/store1.webp"
              alt=""
              class="h-full w-full object-cover"
            />
          </div>
          <div
            class="row-span-1 truncate max-[1050px]:max-h-[200px] max-[1050px]:flex max-[1050px]:justify-center max-[1050px]:items-center max-[1050px]:max-w-[600px]"
          >
            <img
              src="/organic-store/store2.webp"
              alt=""
              class="h-full w-full object-cover"
            />
          </div>
          <div
            class="row-span-1 truncate max-[1050px]:max-h-[200px] max-[1050px]:flex max-[1050px]:justify-center max-[1050px]:items-center max-[1050px]:max-w-[600px]"
          >
            <img
              src="/organic-store/store3.webp"
              alt=""
              class="h-full w-full object-cover"
            />
          </div>
        </div>
      </SectionLayout>
      <SectionLayout
        containerClass="flex gap-x-[2px] gap-y-6 max-w-[1000px] self-center max-[1130px]:flex-col"
      >
        <a
          href="/organic-store/vegetables"
          class="flex flex-col gap-2 grow basis-0 [&:hover>div:nth-child(1)>img]:scale-110 max-h-[280px] max-w-[600px]"
        >
          <div
            class="truncate rounded-md flex items-center h-full justify-center"
          >
            <img
              src="/organic-store/vegetables.webp"
              alt=""
              class="h-full w-full object-cover transition duration-200"
            />
          </div>
          <div class="text-sm font-medium text-center">
            Organic Fruits and Vegetables
          </div>
        </a>
        <a
          href="/organic-store/products"
          class="flex flex-col gap-2 grow basis-0 [&:hover>div:nth-child(1)>img]:scale-110 max-h-[280px] max-w-[600px]"
        >
          <div
            class="truncate rounded-md flex items-center h-full justify-center"
          >
            <img
              src="/organic-store/products.webp"
              alt=""
              class="h-full w-full object-cover transition duration-200"
            />
          </div>
          <div class="text-sm font-medium text-center">Organic Products</div>
        </a>
      </SectionLayout>
      <LineBreaker />
      <SectionLayout
        containerClass="flex flex-col gap-8 p-8 self-center bg-gradient-to-b from-white to-[#FFD8BF]"
      >
        <div class="text-xl text-center font-medium">Find us at</div>
        <div class="flex gap-6 flex-wrap justify-center">
          <div class="flex flex-col gap-6 w-[min(400px,100%)]">
            <div class="flex gap-4">
              <img src="/organic-store/address.svg" alt="" class="h-[30px]" />
              <div>
                Saldanha Kieran Apartments - II, Near Mapusa Court Junction,
                Opposite Sangeeta Mobile, Next to Union Restaurant, Mapusa, Goa
                403507
              </div>
            </div>
            <div class="flex gap-4">
              <img src="/organic-store/phone.svg" alt="" class="h-[30px]" />
              <div>+91 89566 91426/7</div>
            </div>
            <div class="flex gap-4 items-start">
              <img src="/organic-store/instagram.svg" alt="" class="h-[30px]" />
              <a
                href="https://www.instagram.com/nims.organichub/"
                target="_blank"
              >
                <img src="/organic-store/instaHandle.webp" alt="" />
              </a>
            </div>
          </div>
          <div class="w-[min(400px,100%)]">
            <img src="/organic-store/map.webp" alt="" class="h-full" />
          </div>
        </div>
      </SectionLayout>
    </MainLayout>
  </body>
</html>
