---
import BannerLayout from "../../layout/bannerLayout.astro";
import MainLayout from "../../layout/mainLayout.astro";
import SectionLayout from "../../layout/sectionLayout.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>NIMS Organic Fruits and Vegetable</title>
  </head>
  <body>
    <MainLayout>
      <BannerLayout imageSrc="/organic-store/vegetables/banner.jpg" />
      <div class="text-sm w-[min(400px,100%)] text-center self-center">
        Savor the essence of nature in every bite. Our curated selection of
        organic fruits and vegetables is a symphony of freshness, carefully
        harvested to bring the purest flavors from farm to table. Cultivated
        with love, our bounty is a celebration of health, taste, and the vibrant
        essence of sustainable living.
      </div>
      <SectionLayout containerClass="flex flex-col gap-8">
        <div class="flex flex-col justify-center self-center w-fit">
          <div class="text-2xl font-bold">
            Organic Fruits and Vegetable Catalogue
          </div>
          <div class="text-sm font-medium self-end">
            <span class="text-[#dc2626]">*</span>Contact Sales for a Price Quote
          </div>
        </div>
        <div class="flex justify-center gap-10 flex-wrap">
          <div class="flex flex-col gap-2 items-center">
            <div class="text-xl font-semibold">Organic Fruits</div>
            <div class="flex flex-col items-center">
              <div>Kiwi pc</div>
              <div>Pomegranate</div>
              <div>Papaya</div>
              <div>Guava white</div>
              <div>Pink Guava</div>
              <div>Banana Elaichi dzn</div>
              <div>Pineapple pc</div>
              <div>Pear</div>
              <div>Apple</div>
              <div>Custard Apple</div>
              <div>Hass Avocado</div>
              <div>Avocado (Indian)</div>
              <div>Watermelon kg</div>
              <div>Muskmelon kg</div>
              <div>White Dragon fruit kg</div>
              <div>Red Dragon fruit (out of stock)</div>
              <div>Banana Fresh kg</div>
              <div>Red Banana</div>
            </div>
          </div>
          <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-2 items-center">
              <div class="text-xl font-semibold">Currently In-Season</div>
              <div class="flex flex-col items-center">
                <div>Sweet lime</div>
                <div>Chickoo</div>
                <div>Orange Nagpur</div>
                <div>Grapefruit</div>
                <div>Mulberry 150gms Box</div>
                <div>Fig (Anjeer) 500gms Box</div>
                <div>Grapes Green 500gms. Box</div>
                <div>Grapes Black 500gms Box</div>
                <div>Yellow Passionfruit</div>
                <div>Pink Passionfruit</div>
                <div>Apple Ber</div>
              </div>
            </div>
            <div class="flex flex-col gap-2 items-center">
              <div class="text-xl font-semibold">Particulars</div>
              <div class="flex flex-col items-center">
                <div>Black Raspberries 250gms</div>
                <div>Wood Apple (bael)</div>
                <div>Portbello Mushroom 250gms</div>
                <div>Jackfruit</div>
              </div>
            </div>
          </div>
          <div class="flex flex-col gap-6">
            <div class="flex flex-col gap-2 items-center">
              <div class="text-xl font-semibold">Berries</div>
              <div class="flex flex-col items-center">
                <div>Strawberry - 400gms Box</div>
                <div>Black Raspberries - 250gms Box</div>
                <div>Gooseberry - 250gms Box</div>
                <div>Blueberry -125gnus Box</div>
                <div>Raspberry -125gms Box</div>
                <div>BlackBerry - 125 gms Box</div>
              </div>
            </div>
            <div class="flex flex-col gap-2 items-center">
              <div class="text-xl font-semibold">Vegetables</div>
              <div class="flex flex-col items-center">
                <div>A2 Milk</div>
                <div>Amaranth Leaves Bunch</div>
                <div>Banana</div>
                <div>Beans</div>
                <div>Beet Root Fac</div>
                <div>Bottle Gourd</div>
                <div>Brinjal</div>
                <div>Broccoli</div>
                <div>Cabbage</div>
                <div>Carrot Organge</div>
                <div>Cauliflower</div>
                <div>Cherry Tomato</div>
                <div>Cluster Beans</div>
                <div>Corriander Bunch</div>
                <div>Cucumber</div>
                <div>Dill Leaves Bunch</div>
                <div>Fenugreek Bunch</div>
                <div>French Beans</div>
                <div>Garlic Desi</div>
                <div>Garlic</div>
                <div>Ginger</div>
                <div>Green Peas</div>
                <div>Guava</div>
                <div>Iceburg Lettuce</div>
                <div>Lady Finger</div>
                <div>Lemon</div>
                <div>Onion</div>
                <div>Palak Bunch</div>
                <div>Potato</div>
                <div>Red Pumpkin</div>
                <div>Redish</div>
                <div>Ridge Fourd</div>
                <div>Spring Onion Bunch</div>
                <div>Tomato</div>
                <div>Zukeni</div>
                <div>Color Mirchi</div>
                <div>Green Mirchi</div>
                <div>Green Capsicum Mirchi</div>
                <div>Curd</div>
                <div>Makka</div>
                <div>Drum Stciiks</div>
                <div>Bitter Gourd</div>
                <div>Avare</div>
              </div>
            </div>
          </div>
        </div>
      </SectionLayout>
    </MainLayout>
  </body>
</html>
