---
import SectionLayout from "../layout/sectionLayout.astro";
import LineBreaker from "./lineBreaker.astro";
---

<LineBreaker />
<SectionLayout>
  <div class="flex justify-center">
    <div
      class="w-[600px] self-center flex flex-col items-center gap-4 box-content"
      id="contactFormContainer"
    >
      <div class="font-bold text-2xl">Contact Us to Make a Purchase</div>
      <div class="text-sm">
        Have questions or ready to make a purchase? We're here for you. Reach
        out and let's connect. Your desired items are just a message away.
        Contact us and experience convenience at your fingertips.
      </div>
      <form class="flex flex-col gap-4 self-stretch" id="contactForm">
        <div class="flex justify-between gap-4 flex-wrap">
          <div class="flex flex-col gap-1 grow basis-0">
            <label for="firstName" class="text-sm font-semibold"
              >First Name</label
            >
            <input
              type="text"
              id="firstName"
              name="firstName"
              class="bg-[#D9D9D9] outline-none border-none py-2 px-3 rounded text-sm"
            />
          </div>
          <div class="flex flex-col gap-1 grow basis-0">
            <label for="lastName" class="text-sm font-semibold">Last Name</label
            >
            <input
              type="text"
              id="lastName"
              name="lastName"
              class="bg-[#D9D9D9] outline-none border-none py-2 px-3 rounded text-sm"
            />
          </div>
        </div>
        <div class="flex justify-between gap-4 flex-wrap">
          <div class="flex flex-col gap-1 grow basis-0">
            <label for="contactNumber" class="text-sm font-semibold"
              >Mobile Number</label
            >
            <input
              type="text"
              id="contactNumber"
              name="contactNumber"
              class="bg-[#D9D9D9] outline-none border-none py-2 px-3 rounded text-sm"
            />
          </div>
          <div class="flex flex-col gap-1 grow basis-0">
            <label for="email" class="text-sm font-semibold"
              >Email Address</label
            >
            <input
              type="email"
              id="email"
              name="email"
              class="bg-[#D9D9D9] outline-none border-none py-2 px-3 rounded text-sm"
            />
          </div>
        </div>
        <div>
          <div class="flex flex-col gap-1 grow basis-0">
            <label for="message" class="text-sm font-semibold">Message</label>
            <textarea
              id="message"
              name="message"
              class="bg-[#D9D9D9] outline-none border-none py-2 px-3 rounded text-sm resize-none"
              rows="12"></textarea>
          </div>
        </div>
        <button
          class="bg-[#450F0A] text-white py-3 px-6 text-sm font-medium rounded self-center max-[750px]:mb-4"
        >
          Send Message
        </button>
      </form>
    </div>
  </div>
</SectionLayout>

<script>
  import emailJs from "@emailjs/browser";

  const contactFormEle = document.getElementById("contactForm");
  contactFormEle?.addEventListener("submit", async (e) => {
    e.preventDefault();
    const formObj: {
      firstName: string;
      lastName: string;
      email: string;
      contactNumber: string;
      message: string;
    } = {
      firstName: "",
      lastName: "",
      email: "",
      contactNumber: "",
      message: "",
    };
    const eventTarget = contactFormEle as HTMLFormElement;
    var formData = new FormData(eventTarget);
    formData.forEach(function (value, key) {
      formObj[key as keyof typeof formObj] = value.toString();
    });
    const isMobile =
      /iPhone|iPad|iPod|Android|BlackBerry|Opera Mini|IEMobile|WPDesktop/i.test(
        navigator.userAgent
      );
    if (isMobile) {
      const whatsappMessage = `Name: ${formObj.firstName + formObj.lastName}
            Email: ${formObj.email}
            Contact Number: ${formObj.contactNumber}
            Message: ${formObj.message}`.replace(/^[ \t]+/gm, "");
      const whatsappURL =
        "https://wa.me/" +
        `${import.meta.env.PUBLIC_WHATSAPP_CONTACT_NUMBER}` +
        "?text=" +
        encodeURIComponent(whatsappMessage);
      window.open(whatsappURL, "_blank");
    } else {
      try {
        (function () {
          emailJs.init({
            publicKey: import.meta.env.PUBLIC_EMAILJS_PUBLIC_KEY,
          });
        })();
        await emailJs.send(
          import.meta.env.PUBLIC_EMAILJS_SERVICE_ID,
          import.meta.env.PUBLIC_EMAILJS_TEMPLATE_ID,
          formObj
        );
        console.log("Email Sent Successful");
      } catch (e) {
        console.log(e);
      }
    }
    eventTarget.reset();
  });
</script>
