<div class="flex justify-between py-4 px-16">
  <img src="/logo.webp" alt="" class="h-[70px] w-[110px]">
  <nav class="flex gap-6 items-center">
    <a href="/" class="text-sm font-medium">Home</a>
    <a href="/biogas" class="text-sm font-medium">HomeBiogas</a>
    <a href="/organic-store" class="text-sm font-medium">Organic Store</a>
    <a href="/mushrooms" class="text-sm font-medium">Mushrooms</a>
    <a href="/services" class="text-sm font-medium">Financial Services</a>
    <a href="/saafplatform" class="text-sm font-medium">Saafplatform</a>
    <button class="rounded-[39px] bg-[#ED7225] py-2 px-4 text-white text-sm font-medium">Contact Us</button>
  </nav>
</div>