<div class="gap-[1px] flex flex-col px-[2rem] max-[600px]:px-[1rem]">
  <div class="bg-[#89C832] h-[1px]"></div>
  <div class="bg-[#F9C22F] h-[1px]"></div>
  <div class="bg-[#ED7225] h-[1px]"></div>
</div>