<body class="flex flex-col">
  <div class="bg-gradient-to-r from-[#450F0A] to-[#ED7225] text-white text-xs py-1 text-center font-medium">
    Hello. This is a new website design for NIMS-The Organic Hub. Check back again later for more updates.
  </div>
  <div class="flex justify-between py-4 px-16">
    <img src="/logo.png" alt="" class="h-[70px] w-[110px]">
    <nav class="flex gap-6 items-center">
      <a href="/" class="text-sm font-medium">Home</a>
      <a href="/biogas" class="text-sm font-medium">HomeBiogas</a>
      <a href="/organic-store" class="text-sm font-medium">Organic Store</a>
      <a href="/mushrooms" class="text-sm font-medium">Mushrooms</a>
      <a href="/services" class="text-sm font-medium">Financial Services</a>
      <a href="/saafplatform" class="text-sm font-medium">Saafplatform</a>
      <button class="rounded-[39px] bg-[#ED7225] py-2 px-4 text-white text-sm font-medium">Contact Us</button>
    </nav>
  </div>
  <slot/>
  <div class="bg-[#450F0A] py-10 px-16 gap-8 flex flex-col text-white">
    <div class="flex justify-between gap-10">
      <img src="/footer/footerLogo.png" alt="" class="h-[100px] mr-10">
      <div class="flex flex-col gap-4 basis-0 grow">
        <div class="font-semibold text-xl">Contact Us</div>
        <div class="flex flex-col gap-1 text-sm">
          <div>
            <div>+91 89566 91426 - Distribution</div>
            <div>+91 89566 91427 - Sales</div>
          </div>
          <div>
            Saldanha Kieran Apartments - II, Near Mapusa Court Junction, Opposite Sangeeta Mobile, Next to Union Restaurant, Mapusa, Goa 403507
          </div>
        </div>
      </div> 
      <div class="flex flex-col gap-4 basis-0 grow">
        <div class="font-semibold text-xl">Follow us on our socials</div>
        <div class="flex flex-col gap-1 text-sm">
          <div>Instagram</div>
          <div>Facebook</div>
          <div>Youtube</div>
        </div>
      </div> 
      <div class="flex flex-col gap-4 basis-0 grow">
        <div class="font-semibold text-xl">Our Sectors</div>
        <div class="flex flex-col gap-1 text-sm">
          <div>HomeBiogas</div>
          <div>Organic Store</div>
          <div>Mushrooms</div>
          <div>FInancial Services</div>
          <div>Saafplatform</div>
        </div>
      </div>
      <div class="flex flex-col gap-4 basis-0 grow">
        <div class="font-semibold text-xl">Extras</div>
        <div class="flex flex-col gap-1 text-sm">
          <div>Partner</div>
          <div>Promotion</div>
          <div>Careers</div>
          <div>FAQs</div>
        </div>
      </div>
    </div>
    <div class="flex gap-8 text-sm">
      <div>@2024 The New India Multipurpose Co-Op Soc. Ltd.</div>
      <div>Terms</div>
      <div>Privacy</div>
    </div>
  </div>
</body>

